# Puerto del backend
PORT=4000

# Entorno: development / production
NODE_ENV=development

# Configuración de almacenamiento
UPLOAD_DIR=./storage/uploads # Carpeta para videos temporales
METADATA_DIR=./storage/metadata # Carpeta para los metadatos
PUBLIC_HLS_DIR=./storage/public # Carpeta pública para HLS
