# Puerto del backend
PORT=4000

# Entorno: development / production
NODE_ENV=development

# Ruta donde se guardan los archivos subidos temporalmente
UPLOAD_DIR=./storage/uploads

# Carpeta temporal de procesamiento
PROCESSING_DIR=./storage/processing

# Carpeta pública para HLS
PUBLIC_HLS_DIR=./storage/public

# Ruta del binario de ffmpeg y ffprobe
FFMPEG_PATH=/usr/bin/ffmpeg
FFPROBE_PATH=/usr/bin/ffprobe
