# Backend del Media Server
VITE_BACKEND_MEDIA_SERVER_URL=https://gj036c89-4000.uks1.devtunnels.ms/

# WebSocket del Media Server
VITE_WEBSOCKET_MEDIA_SERVER_URL=wss://gj036c89-4000.uks1.devtunnels.ms/ws

# Backend de Contenido
VITE_BACKEND_CATALOGO_URL=https://gj036c89-8080.uks1.devtunnels.ms/

# Backend de Autenticación
VITE_BACKEND_AUTH_URL=https://gj036c89-8069.uks1.devtunnels.ms/

# Entorno: development / production
VITE_APP_ENV=production